<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MOVADO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
              <li><%= link_to category.name, categorical_path(category_id: category.id) %></li>
            <% end %>
          </ul>
          <li><%=link_to 'DISCOUNTS', branding_path%></li>
          <% if user_signed_in? && current_user.admin?%>
          <li><%=link_to 'Inventory', products_path%></li>
          <%end%>
        </li>
      </ul>


      <!-- within layouts/application.html.erb -->

      <!-- within layouts/application.html.erb -->
      <ul class="nav navbar-nav navbar-right">
        <!-- already here -->
        <!-- add this code: -->
        <% if user_signed_in? %>
        <li><%= link_to "View Cart", view_order_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Hello, <%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
      <!-- <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%=link_to 'Category', categorical_path%></li>
            <li><%=link_to 'Brand', branding_path%></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><%=link_to 'Inventory', products_path%></li>
          </ul>
        </li>
      </ul> -->
      <%end%>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
